/*
    * yPolar's Homepage - a simple portfolio/biolink
    * by yPolar#7294
    * Want to use the CSS for your own bio? Go ahead! Just make sure to credit me.
    * If you have any questions, feel free to DM me on Discord. (yPolar#7294)
*/

* {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: #fff;
}

body {
    background: #000;
    overflow: hidden;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=91282"), default;
}
a {
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=91283"), default;
    text-decoration: none;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease-in-out;
}
.hero-content {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(32, 35, 41, 0.75);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3E%3Cg mask='url(%22%23SvgjsMask1001%22)' fill='none'%3E%3Crect width='1440' height='560' x='0' y='0' fill='rgba(22, 22, 22, 1)'%3E%3C/rect%3E%3Cpath d='M381.08 641.76C489.18 636.34 571.82 447.09 767.59 446.69 963.36 446.29 960.85 516.69 1154.11 516.69 1347.36 516.69 1442.42 446.97 1540.62 446.69' stroke='rgba(51,121,194,0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M620.92 583.66C741.92 550.76 702.36 215.74 961.16 215.13 1219.95 214.52 1464.61 409.19 1641.63 411.13' stroke='rgba(51,121,194,0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M757.08 637.34C905.76 608.62 977.14 231.38 1205.86 230.54 1434.58 229.7 1528.78 453.6 1654.64 460.14' stroke='rgba(51,121,194,0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M366.1 563.79C553.56 530.46 646.74 65.21 940.61 63.8 1234.47 62.39 1358.37 310.34 1515.11 315.8' stroke='rgba(51,121,194,0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M898.19 661.92C1020.62 635.32 1036.03 342.94 1259.38 314.5 1482.73 286.06 1518.65 129.81 1620.57 124.1' stroke='rgba(51,121,194,0.58)' stroke-width='2'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1001'%3E%3Crect width='1440' height='560' fill='%23ffffff'%3E%3C/rect%3E%3C/mask%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 15px;
    text-align: center;
    width: 30%;
    animation: fadeIn 0.4s ease-in-out;
    animation: pulse 1.2s ease-in-out infinite;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.terminal {
    animation: fadeIn 0.4s ease-in-out;
}

.hidden {
    display: none;
}

.tip {
    color: gray;
}
.link {
    color: rgba(255, 255, 255, 0.644);
    text-decoration: underline;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=91283"), default;
}
.pfp {
    margin: 0 auto;
    text-align: left;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.125);
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    background: rgba(32, 35, 41, 0.75);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    animation: fadeIn 0.4s ease-in-out;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

hr {
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 1px solid rgb(34, 34, 34);
}

p {
    margin: 0;
}

.notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 80%; 
}

/* cat */
.cat {
    position:absolute;
    top:-40px;
    transition: left 5s;
    opacity:1;
    color: #fff;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
} 
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
